# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
backend/expenses.db

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor / System
.vscode/
.idea/
.DS_Store
Thumbs.db
